<article class="contentInfo contact"> 
    <h4 data-translation-section="titleManageContact">Contáctenos</h4>               
    <div class="box">
        <div class="boxHead">
            <h5 data-translation-section="titleManagePhone">Teléfono #1:</h5>
        </div>
        <div class="boxBody">                        
            <div class="boxField">
                <span class="copy"><i class="fa-regular fa-clipboard"></i></span>                            
                <input type="text" data-type="phone" class="phone txtPhone" placeholder="####-####">
            </div>
        </div>
    </div>
    <div class="box">
        <div class="boxHead">
            <h5 data-translation-section="titleManagePhoneAlt">Teléfono #2:</h5>
        </div>
        <div class="boxBody">
            <div class="boxField">
                <span class="copy"><i class="fa-regular fa-clipboard"></i></span>                            
                <input type="text" data-type="phone" class="phone txtPhoneExtra" placeholder="####-####">
            </div>
        </div>
    </div>
    <div class="box">
        <div class="boxHead">
            <h5 data-translation-section="titleManageEmail">Correo #1:</h5>
        </div>
        <div class="boxBody">                        
            <div class="boxField">
                <span class="copy"><i class="fa-regular fa-clipboard"></i></span>                            
                <input type="email" data-type="email" data-translation-placeholder="txtEmail" class="email txtEmail" placeholder="Correo electrónico">
            </div>
        </div>
    </div>
    <div class="box">
        <div class="boxHead">
            <h5 data-translation-section="titleManageEmailAlt">Correo #2:</h5>
        </div>
        <div class="boxBody">
            <div class="boxField">
                <span class="copy"><i class="fa-regular fa-clipboard"></i></span>                            
                <input type="email" data-type="email" data-translation-placeholder="txtEmail" class="email txtEmailExtra" placeholder="Correo electrónico">
            </div>
        </div>
    </div>
</article>            
<article class="contentInfo socialM">
    <h4 data-translation-section="titleManageSocialM">Redes Sociales</h4>
    <div class="box">
        <div class="boxHead">
            <h5>Libre:</h5>
        </div>
        <div class="boxBody">                        
            <div class="boxField">
                <span class="copy"><i class="fa-regular fa-clipboard"></i></span>                            
                <input type="text" data-type="social" class="social txtSocial-1" placeholder="">
            </div>
        </div>
    </div>
    <div class="box">
        <div class="boxHead">
            <h5>Libre:</h5>
        </div>
        <div class="boxBody">                        
            <div class="boxField">
                <span class="copy"><i class="fa-regular fa-clipboard"></i></span>                            
                <input type="text" data-type="social" class="social txtSocial-2" placeholder="">
            </div>
        </div>
    </div>
    <div class="box">
        <div class="boxHead">
            <h5>Libre:</h5>
        </div>
        <div class="boxBody">                        
            <div class="boxField">
                <span class="copy"><i class="fa-regular fa-clipboard"></i></span>                            
                <input type="text" data-type="social" class="social txtSocial-3" placeholder="">
            </div>
        </div>
    </div>
</article>