<div class="box" data-product="artesania">
    <div class="boxHead">
        <h5>Barquito de Madera</h5>
    </div>
    <div class="boxBody">                        
        <div class="boxField table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th></th>
                        <th data-translation-section="titleWoodProduct">Madera</th>
                        <th data-translation-section="titleDimensionProduct">Dimensión</th>
                        <th data-translation-section="titlePriceProduct">Precio</th>
                        <th data-translation-section="titleOptionProduct">Opción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="" class="list-image" alt="">
                        </td>
                        <td>
                            Caoba
                        </td>
                        <td>
                            10x10
                        </td>
                        <td>
                            25000
                        </td>
                        <td>
                            <span class="btnOpenModal"><i class="fa-regular fa-pen-to-square"></i></span>
                            <span class="btnDisableProduct"><i class="fa-regular fa-trash-can"></i></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>  