<section class="login active">
    <div class="head">
        <h5 data-translation-section="titleLogin">Inicira Sesión</h5>
    </div>
    <div class="body">
        <div class="form__group">
            <input type="text" class="form__input" data-type="email" id="id" name="id" data-translation-placeholder="id" placeholder="Usuario" required="" />
            <label for="name" class="form__label" data-translation-section="id">Usuario</label>
        </div>
        <div class="form__group">
            <input type="password" class="form__input" id="password" name="password" data-translation-placeholder="password" placeholder="Contraseña" required="" />
            <label for="name" class="form__label" data-translation-section="password">Contraseña</label>
        </div>                
    </div>
    <div class="footer">
        <a href="?user=restore" data-translation-section="restore">Recuperar contraseña</a>
        <button class="login" id="login" data-translation-section="btnLogin">Iniciar</button>
    </div>
</section>