<section class="restore">
    <div class="head">
        <h5 data-translation-section="titleRestore">Recuperar contraseña</h5>
    </div>
    <div class="body">
        <div class="form__group">
            <input type="text" class="form__input" id="idRestore" name="idRestore" data-translation-placeholder="idRestore" placeholder="Usuario" required="" />
            <label for="name" class="form__label" data-translation-section="idRestore">Usuario</label>
        </div>                                
    </div>
    <div class="footer">
        <button class="restore" id="restore" data-translation-section="btnRestore">Iniciar</button>
    </div>
</section>